
<form action="">
<input type="checkbox">
<label for="Male">Male</label>
<input type="checkbox">
<label for="Female">Female</label>
</form>


<table class="">
  <thead>
    <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Gender</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let candidate of candidates">
    <td>{{candidate.id}}</td>
    <td>{{candidate.first_name}}</td>
    <td>{{candidate.last_name}}</td>
    <td>{{candidate.email}}</td>
    <td>{{candidate.gender}}</td>
    </tr>
  </tbody>
</table>